Soil-Moisture.json
[
    {
        "id": "3f0d269bf8de8c7f",
        "type": "tab",
        "label": "SoilMisture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "318375ba2dce58cb",
        "type": "mqtt in",
        "z": "3f0d269bf8de8c7f",
        "name": "",
        "topic": "FCaEI/mqtt/GMA/HumSuelo",
        "qos": "2",
        "datatype": "json",
        "broker": "dbb2841f278f706f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "1ea6a7c1269d43d8",
                "766df14b4e685ab3"
            ]
        ]
    },
    {
        "id": "1ea6a7c1269d43d8",
        "type": "json",
        "z": "3f0d269bf8de8c7f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "e7f2e1f7a1282c96"
            ]
        ]
    },
    {
        "id": "e7f2e1f7a1282c96",
        "type": "function",
        "z": "3f0d269bf8de8c7f",
        "name": "Humedad Suelo",
        "func": "msg.payload=msg.payload.humsuelo;\nmsg.topic=\"Humedad Suelo\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "74d3ccfb7ea56683",
                "766df14b4e685ab3",
                "1ea343cac4b34cf6"
            ]
        ]
    },
    {
        "id": "74d3ccfb7ea56683",
        "type": "ui_gauge",
        "z": "3f0d269bf8de8c7f",
        "name": "Humedad Suelo",
        "group": "ae0f530ac2b1905f",
        "order": 0,
        "width": "5",
        "height": "6",
        "gtype": "wave",
        "title": "Humedad de la tierra",
        "label": "%",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#729fcf",
            "#8ae234",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "766df14b4e685ab3",
        "type": "debug",
        "z": "3f0d269bf8de8c7f",
        "name": "Resultado Humedad Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ea343cac4b34cf6",
        "type": "ui_chart",
        "z": "3f0d269bf8de8c7f",
        "name": "Historico Local",
        "group": "ae0f530ac2b1905f",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Historico Local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "dbb2841f278f706f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ae0f530ac2b1905f",
        "type": "ui_group",
        "name": "Humedad del suelo",
        "tab": "ca9cbcd0b8680dcd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca9cbcd0b8680dcd",
        "type": "ui_tab",
        "name": "SoilMisture",
        "icon": "dashboard",
        "order": 17,
        "disabled": false,
        "hidden": false
    }
]